.card {
  max-width: 250px;
  padding: $space-22 $space-16;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px $shadow;
  background-color: $white;
  justify-content: flex-start;
  transition: all 300ms;
  gap: $space-16;

  @include responsive($laptop) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.card__image {
  width: 100px;

  @include responsive($laptop) {
    width: 150px;
  }
}

.card__text {
  text-align: center;

  strong {
    display: block;
    font-size: $size-20;
    margin-bottom: $space-6;
  }

  p {
    font-size: $size-16;
  }

  a {
    color: $main;
    font-weight: 700;

    &:active {
      opacity: 0.5;
    }
  }
}
